@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,900&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("../img/imagen14.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  text-align: center;
}

/* Hover: brillo más fuerte */
.titulo {
  transform: scale(1.05);
  text-shadow:
    2px 2px 5px rgba(0, 0, 0, 0.5),
    0 0 30px rgba(255, 105, 180, 1),
    0 0 15px rgba(255, 20, 147, 1);
  color: #ff69b4;
}


